# Use 'docker run --rm -it vaultwarden/server /vaultwarden hash' to create this.
ADMIN_TOKEN=

INVITATION_ORG_NAME=
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
TAILSCALE_HOSTNAME=vault
TAILSCALE_TAILNET=your-tailnet
